<div class="picture-gradient ">
  <div class="d-flex justify-content-end pt-3 menu px-5">
    <p class="mx-3 text-white">Projekte</p>
    <p class="mx-3 text-white">Über Mich</p>
    <p class="mx-3 text-white"> Kontakt</p>
  </div>
  <div class="d-flex half-header container justify-content-between px-5">
    <div class=" mt-5">
      <h1 class="mb-5">Hi,<br> ich bin Isabel Dockemeyer.</h1>
      <button class="pink">Meine Projekte</button>
    </div>
    <div class="picture-transparent align-self-end">
      <h2 class="big-italic">FRONTEND DEVELOPER</h2>
    </div>
  </div>
</div>
  <div class="inner">
    <div class="icon">
    </div>
  </div>
<h2 class="mt-5 text-center text-black">Meine Projekte</h2>
<div class="d-flex justify-content-around">
  <div class="white-card">
    <p>Hello</p>
  </div>
  <div class="white-card">
  </div>
</div>
