.pink{
  border-radius: 150px;
  color: white;
  background-color: $pink;
  border: none;
  height: 55px;
  width: 200px;
  font-weight: 600;
  font-size: 20px;
}

.pink-small{
  border-radius: 150px;
  color: white;
  background-color: $pink;
  border: none;
  height: 40px;
  width: 180px;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 7px;
}
